/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/* smooth scroll */
html {
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}




/* Header */
div.header-container {
    position: fixed;
    height: 5vh;
    width: 100%;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3d1fa1;
    box-shadow: 0 3px 20px #2a166e;

}

/* Middle Header */
div.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
}

li {
    list-style-type: none;
    margin: 0 50px 0 50px;
}

li a {
    color: #ffff00;
    text-decoration: none;
}



/* Main */
div.content {
    height: 300vh;
    background-color: #fff;

}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
}

#services {
    background-color: #3d1fa1;
}

p {
    color: #0f0;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #232323;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}

section#services::before {
    content: " ";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47aafa;
    clip-path: circle(65% at 100% -20%);
}

section#services::after {
    content: " ";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef3b36;
    clip-path: circle(100% at 0% 190%);
}









.services-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    z-index: 2;
    
}

.services-container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background-color: #ffffff36;
    z-index: 3;
    border-radius: 20px;
    transform-style: preserve-3d;
    backdrop-filter: blur(15px);
} 

.services-container .box::before {
    content: "NIKE";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.services-container .box::after {
    content: "SHOES";
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.services-container .box:hover::before, .services-container .box:hover::after {
    opacity: 0.04;
} 

.services-container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.services-container .box:hover .name {
    top: 40px;
    opacity: 1;
}

.services-container .box .buy {
    position: absolute;
    bottom: 0;
    left: 150px;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.services-container .box:hover .buy {
    bottom: 30px;
    left: 150px;
    opacity: 1;
}

.services-container .box:hover .circle {
    bottom: 30px; 
    opacity: 1;
}

.services-container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 4;
    opacity: 0;
    transform: translate3d(-50%,-50%,50px);
}

.services-container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 5;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px) rotate(-15deg);
}

.services-container .box .product {
    transform: translate3d(-50%,-50%,0px) rotate(-15deg);
}

.services-container .box:nth-child(1) .circle,
.services-container .box:nth-child(1) .buy {
    background: #379bf7;
}

.services-container .box:nth-child(2) .circle,
.services-container .box:nth-child(2) .buy {
    background: #9bdc28;
}

.services-container .box:nth-child(3) .circle,
.services-container .box:nth-child(3) .buy {
    background: #fb4b4f;
}

@media only screen and (max-width: 1139px) {
    section#services {
      height: 180vh;
    
    }
}